@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", "system-ui";
    }
}

html {
    font-family: "Inter", "system-ui";
    scroll-behavior:smooth
}

pre {
    @apply text-sm overflow-x-auto shadow-[0_0_15px_rgba(0,0,0,0.1)] backdrop-blur-[5px] mb-4 px-5 py-[30px] rounded-2xl;
    background: rgba(255, 255, 255, 0.2);
}

pre code.torchlight {
    @apply
        text-base
        block
        min-w-max
    ;
}

pre code.torchlight .line {
    @apply px-4;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-4;
}

@keyframes shadows {
    0% { box-shadow: 0 0 9px 0 rgb(97 161 70 / 0.1), 0 0 9px 0 rgb(97 161 70 / 0.1), 0 0 9px 0 rgb(97 161 70 / 0.2) }
    50% { box-shadow: 0 0 9px 0 rgb(97 161 70 / 0.2), 0 0 9px 0 rgb(97 161 70 / 0.3), 0 0 9px 0 rgb(97 161 70 / 0.1) }
    75% { box-shadow: 0 0 9px 0 rgb(97 161 70 / 0.3), 0 0 9px 0 rgb(97 161 70 / 0.2), 0 0 9px 0 rgb(97 161 70 / 0.0) }
    100% { box-shadow: 0 0 9px 0 rgb(97 161 70 / 0.1), 0 0 9px 0 rgb(97 161 70 / 0.3), 0 0 9px 0 rgb(97 161 70 / 0.1) }
}

pre {
    --tw-glow-opacity: 1;
    color: rgb(97 161 70 / 0.2);
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    position: relative;
}

pre:hover,
.filename:hover,
.label:hover {
    box-shadow: 0 0 9px 0 rgb(97 161 70 / 0.5);
}

.filename,
.label {
    @apply
        font-mono
        transition-all
        duration-[0.8s]
        ease-[ease-in-out]
        relative
        z-10
        ml-[-0.5rem]
        inline-block
        rounded
        bg-white
        text-[0.7rem]
        leading-5
        text-[rgba(255,255,255,var(--tw-text-opacity))]
        flex-initial
        shadow-[rgba(0,0,0,0.1)_0_0_5px_1px]
        text-[#797979]
        px-4
        py-2
    ;
}

.label {
    @apply bg-[rgba(255,255,230,0.8)] backdrop-blur-[5px];
}

.filename+pre,
.label+pre {
    margin-top: -1rem;
}

pre {
    margin-top: 2rem;
}

p+p {
    margin-top: 1.5rem;
}

pre+p {
    margin-top: 3rem;
}

ul, ol {
    margin-bottom: 2rem;
}
